<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<head th:fragment="head (title)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title th:text="${title}"></title>

    <!-- CSS  -->
    <link th:href="@{/webjars/font-awesome/5.8.1/css/all.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/webjars/leaflet/1.4.0/leaflet.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

</body>

</html>