<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="~{fragment/head :: head (title=#{index.title})}"></div>
<body>
<div th:replace="~{fragment/nav :: nav (page=#{pages.index})}"></div>

<main class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 formula-container">
            <form action="#" th:action="@{/simulate}" th:object="${data}" method="POST" >
                <div class="form-group">
                    <label for="windSpeed" th:text="#{attribute.wind.speed}"></label>
                    <input type="text" class="form-control" id="windSpeed" th:field="*{windSpeed}"
                           th:value="${inputData == null} ? 0 : ${inputData.windSpeed}"
                           th:placeholder="#{attribute.wind.speed.tooltip}">
                </div>
                <div class="form-group">
                    <label for="waterFlow" th:text="#{attribute.water.flow}"></label>
                    <input type="text" class="form-control" id="waterFlow" th:field="*{waterFlow}"
                           th:value="${inputData == null} ? 0 : ${inputData.waterFlow}"
                           th:placeholder="#{attribute.water.flow.tooltip}">
                </div>
                <div class="form-group">
                    <label for="riverSpeed" th:text="#{attribute.river.speed}"></label>
                    <input type="text" class="form-control" id="riverSpeed" th:field="*{riverSpeed}"
                           th:value="${inputData == null} ? 0 : ${inputData.riverSpeed}"
                           th:placeholder="#{attribute.river.speed.tooltip}">
                </div>
                <div class="form-group">
                    <label for="radius" th:text="#{attribute.radius}"></label>
                    <input type="text" class="form-control" id="radius" th:field="*{radius}"
                           th:value="${inputData == null} ? 0 : ${inputData.radius}"
                           th:placeholder="#{attribute.radius.tooltip}">
                </div>
                <div class="form-group">
                    <label for="time" th:text="#{attribute.time}"></label>
                    <input type="text" class="form-control" id="time" th:field="*{time}"
                           th:value="${inputData == null} ? 0 : ${inputData.time}"
                           th:placeholder="#{attribute.time.tooltip}">
                </div>
                <input type="hidden" th:field="*{lat}" id="lat" th:value="${inputData == null} ? 0 : ${inputData.lat}">
                <input type="hidden" th:field="*{lng}" id="lng" th:value="${inputData == null} ? 0 : ${inputData.lng}">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" th:text="#{simulation.button.text}"></button>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 map-container mb-3" id="mainMap">
        </div>
    </div>
</main>

<div th:replace="~{fragment/footer :: footer}"></div>
<div th:replace="~{fragment/script :: script}"></div>
<script th:src="@{/geojson/svisloch.geojson.js}"></script>
<script th:src="@{/js/map.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var geoJson = JSON.parse(/*[[${simulatedGeojson}]]*/ 'default');

    L.geoJson(geoJson).addTo(mymap);

    var svislochRiverCoordinates = svislochRiver['features'][0]['geometry']['coordinates'];

    var currentMarker = L.marker([$("#lat").val(), $("#lng").val()]);
    if ($("#lat").val() !== 0 || $("#lng").val() !== 0) {
        currentMarker.addTo(mymap);
    }

    mymap.on('click', onMapClick);

    function onMapClick(e) {
        removeMarketOnMap();

        nearestPointId = findNearestPointId(turf.point([e.latlng.lng, e.latlng.lat]));
        currentMarker = L.marker([svislochRiverCoordinates[nearestPointId][1], svislochRiverCoordinates[nearestPointId][0]]);
        currentMarker.addTo(mymap);

        $("#lat").val(svislochRiverCoordinates[nearestPointId][1]);
        $("#lng").val(svislochRiverCoordinates[nearestPointId][0]);
    }


    function findNearestPointId(point) {
        var minDistance = turf.distance(turf.point([svislochRiverCoordinates[0][0], svislochRiverCoordinates[0][1]]), point);
        var pointId = 0;

        for (var i = 1; i < svislochRiverCoordinates.length; i++) {
            var distance = turf.distance(turf.point([svislochRiverCoordinates[i][0], svislochRiverCoordinates[i][1]]), point);
            if (distance < minDistance) {
                minDistance = distance;
                pointId = i;
            }
        }

        return pointId;
    }

    function removeMarketOnMap() {
        currentMarker.remove();
    }
    /*]]>*/
</script>
</body>
</html>