<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="~{fragment/head :: head (title=#{index.title})}"></div>
<body>
<div th:replace="~{fragment/nav :: nav (page=#{pages.index})}"></div>

<main class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 formula-container mb-3">
            <form action="#" th:action="@{/simulate}" th:object="${data}" method="POST" class="simulator-form"
                  novalidate>
                <div class="row text-danger d-none incorrect-input-values-error-message">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p th:text="#{incorrect.input.values.error.message}"></p>
                    </div>
                </div>
                <div class="row text-danger d-none unique-time-value-error-message">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p th:text="#{unique.time.value.error.message}"></p>
                    </div>
                </div>
                <div class="row text-danger d-none concentration-decrease-over-time-error-message">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p th:text="#{concentration.decrease.over.time.error.message}"></p>
                    </div>
                </div>
                <div class="row text-danger d-none empty-river-point-error-message">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p th:text="#{empty.river.point.error.message}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label for="riverSpeed" th:text="#{attribute.river.speed}"></label>
                        <input type="text" class="form-control river-speed" id="riverSpeed"
                               th:value="${inputData == null} ? 0 : ${inputData.riverSpeed}"
                               th:field="*{riverSpeed}">
                    </div>
                </div>
                <input type="hidden" th:field="*{timeConcentrationPairsJson}" id="timeConcentrationPairsJson">
                <input type="hidden" th:field="*{lat}" id="lat" th:value="${inputData == null} ? 0 : ${inputData.lat}">
                <input type="hidden" th:field="*{lng}" id="lng" th:value="${inputData == null} ? 0 : ${inputData.lng}">
                <div class="form-group">
                    <button type="button" class="btn btn-success w-100" data-toggle="modal"
                            data-target="#pointsModal" th:text="#{set.points.button.text}"></button>

                    <div class="modal fade" id="pointsModal" tabindex="-1" role="dialog"
                         aria-labelledby="pointsModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <th:block th:each="timeConcentrationPair,iterator : ${data.timeConcentrationPairs}">
                                        <div class="row time-concentration-pair">
                                            <div class="form-group col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                                <label class="time-label" for="time"></label>
                                                <input type="number" class="form-control time-input" id="time" min="0" step="1"
                                                       th:value="${timeConcentrationPair.time}">
                                            </div>
                                            <div class="form-group col-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                                <label class="concentration-label" for="concentration"></label>
                                                <input type="number" class="form-control concentration-input"
                                                       id="concentration"
                                                       th:value="${timeConcentrationPair.concentration}">
                                            </div>
                                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 d-flex align-items-center"
                                                 th:if="${iterator.index != 0 && iterator.index != 1}">
                                                <a href="#" class="text-danger mt-3 remove-point"><i
                                                        class="fas fa-minus"></i></a>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success add-point"
                                            th:text="#{add.point.button.text}"></button>
                                    <button type="button" class="btn btn-danger reset-points"
                                            th:text="#{reset.points.button.text}"></button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            th:text="#{modal.close.button.text}"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary simulate w-100"
                            th:text="#{simulation.button.text}"></button>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 map-container mb-3" id="mainMap">
        </div>
    </div>
    <div id="chartDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
</main>

<div th:replace="~{fragment/footer :: footer}"></div>
<div th:replace="~{fragment/script :: script}"></div>
<script th:src="@{/geojson/svisloch.geojson.js}"></script>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/map.utils.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var concentrationUnit = /*[[#{attribute.concentration.unit}]]*/ 'mg/l';
    var chartXValues = /*[[${chartXValues}]]*/ 'none';
    var chartYValues = /*[[${chartYValues}]]*/ 'none';

    var geoJson = JSON.parse(/*[[${simulatedGeojson}]]*/ 'default');
    var timeTitle = /*[[#{attribute.time}]]*/ 'time, min';
    var concentrationTitle = /*[[#{attribute.concentration}]]*/ 'concentration, mg/l';
    var isPickedRiverPoint = geoJson !== null;
    $(".time-label").text(timeTitle);
    $(".concentration-label").text(concentrationTitle);

    L.geoJson(geoJson, {
        style: function (feature) {
            return {
                color: feature.properties.color,
                weight: 8
            }
        }
    }).addTo(mymap);

    function getColor(d) {
        return d > 87.5 ? '#F2181D' :
            d > 75 ? '#CF311B' :
                d > 62.5 ? '#AC4A19' :
                    d > 50 ? '#8A6317' :
                        d > 37.5 ? '#677C16' :
                            d > 25 ? '#459514' :
                                d > 12.5 ? '#22AE12' :
                                    '#00C711';
    }

    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'legend-info legend'),
            grades = [0, 12.5, 25, 37.5, 50, 62.5, 75, 87.5, 100],
            labels = [];

        for (var i = 0; i < grades.length - 1; i++) {
            div.innerHTML +=
                '<i style="background:' + getColor(grades[i] + 0.01) + '"></i> ' +
                (grades[i + 2] ? grades[i] + ' ' + concentrationUnit + ' &ndash; ' + grades[i + 1] + ' ' + concentrationUnit + '<br>'
                    : grades[i] + ' ' + concentrationUnit + ' &ndash; ' + grades[i + 1] + ' ' + concentrationUnit);
        }

        return div;
    };

    legend.addTo(mymap);

    var svislochRiverCoordinates = svislochRiver['features'][0]['geometry']['coordinates'];

    var currentMarker = L.marker([$("#lat").val(), $("#lng").val()]);
    if (isPickedRiverPoint) {
        currentMarker.addTo(mymap);
    }

    $(".time-input").map((idx, elem) => $(elem).val(parseInt($(elem).val())));

    mymap.on('click', onMapClick);
    $(".add-point").on('click', createNewPoint);
    $(".reset-points").on('click', resetPoints);
    $(".simulator-form").on('click', ".remove-point", removePoint);
    $(".simulate").on('click', generateJson);
    $(".simulator-form").on('submit', validateDataEvent);
    $(".simulator-form").on('input', ".concentration-input", validateData);
    $(".simulator-form").on('input', ".time-input", validateData);
    $(".river-speed").on('input', validateData);
    $(".reset-points").on('click', validateData);
    $(".add-point").on('click', validateData);
    $(".simulator-form").on('click', ".remove-point", validateData);

    var trace = {
        x: chartXValues,
        y: chartYValues,
        mode: 'lines',
        name: 'spline',
        line: {shape: 'spline'},
        type: 'scatter'
    };

    var data = [trace];

    var layout = {
        legend: {
            y: 0.5,
            traceorder: 'reversed',
            font: {size: 16},
            yref: 'paper'
        },
        xaxis: {
            title: timeTitle
        },
        yaxis: {
            title: concentrationTitle
        }
    };

    Plotly.newPlot('chartDiv', data, layout, {displayModeBar: false});
    /*]]>*/
</script>
</body>
</html>