<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<div th:replace="~{fragment/head :: head (title=#{index.title})}"></div>
<body>
<div th:replace="~{fragment/nav :: nav (page=#{pages.index})}"></div>

<main class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 formula-container mb-3">
            <form action="#" th:action="@{/simulate}" th:object="${data}" method="POST" class="simulator-form"
                  novalidate>
                <div class="row text-danger d-none incorrect-input-values-error-message">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p th:text="#{incorrect.input.values.error.message}"></p>
                    </div>
                </div>
                <div class="row text-danger d-none empty-map-point-error-message">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p th:text="#{empty.map.point.error.message}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <label for="coefficientF" th:text="#{attribute.coefficient.f}"></label>
                        <input type="text" class="form-control coefficient-f" id="coefficientF"
                               th:value="${inputData == null} ? 1 : ${inputData.coefficientF}"
                               th:field="*{coefficientF}">
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <label for="concentration" th:text="#{attribute.concentration}"></label><sup>3</sup>
                        <input type="text" class="form-control concentration" id="concentration"
                               th:value="${inputData == null} ? 1 : ${inputData.concentration}"
                               th:field="*{concentration}">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label for="radius" th:text="#{attribute.radius}"></label>
                        <input type="text" class="form-control radius" id="radius"
                               th:value="${inputData == null} ? 1 : ${inputData.radius}"
                               th:field="*{radius}">
                    </div>
                </div>
                <input type="hidden" th:field="*{lat}" id="lat" th:value="${inputData == null} ? 0 : ${inputData.lat}">
                <input type="hidden" th:field="*{lng}" id="lng" th:value="${inputData == null} ? 0 : ${inputData.lng}">
                <div class="row">
                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn btn-outline-danger reset-data w-100"
                                th:text="#{reset.data.button.text}"></button>
                    </div>
                    <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <button type="submit" class="btn btn-outline-success simulate w-100"
                                th:text="#{simulation.button.text}"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 map-container mb-3" id="mainMap">
        </div>
    </div>
</main>

<div th:replace="~{fragment/footer :: footer}"></div>
<div th:replace="~{fragment/script :: script}"></div>
<script th:src="@{/js/map.js}"></script>
<script th:src="@{/js/map.utils.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/lodash.core.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var geoJson = JSON.parse(/*[[${simulatedGeojson}]]*/ 'default');
    var isPickedMapPoint = geoJson !== null;

    L.geoJson(geoJson, {
        style: function (feature) {
            return {
                color: feature.properties.color,
            }
        }
    }).addTo(mymap);

    function getColor(d) {
        return d > 87.5 ? '#F2181D' :
            d > 75 ? '#CF311B' :
                d > 62.5 ? '#AC4A19' :
                    d > 50 ? '#8A6317' :
                        d > 37.5 ? '#677C16' :
                            d > 25 ? '#459514' :
                                d > 12.5 ? '#22AE12' :
                                    '#00C711';
    }

    var legend = L.control({position: 'bottomright'});

    legend.onAdd = function (map) {

        var div = L.DomUtil.create('div', 'legend-info legend'),
            grades = [0, 12.5, 25, 37.5, 50, 62.5, 75, 87.5, 100],
            labels = [0.00001, 0.00004, 0.0001, 0.0003, 0.0005, 0.001, 0.005, 0.1, 5];

        for (var i = 0; i < labels.length - 1; i++) {
            div.innerHTML +=
                '<i style="background:' + getColor(grades[i] + 0.01) + '"></i> ' +
                (labels[i + 2] ? labels[i] + '&ndash;' + labels[i + 1] + '<br>'
                    : labels[i] + '&ndash;' + labels[i + 1]);
        }

        return div;
    };

    legend.addTo(mymap);

    var currentMarker = L.marker([$("#lat").val(), $("#lng").val()]);
    if (isPickedMapPoint) {
        currentMarker.addTo(mymap);
    }

    mymap.on('click', onMapClick);
    $(".simulator-form").on('submit', validateDataEvent);
    $(".coefficient-f").on('input', validateData);
    $(".concentration").on('input', validateData);
    $(".radius").on('input', validateData);
    /*]]>*/
</script>
</body>
</html>